body{
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.row{
    margin: 0;
}

.navbar{
    padding: 10px 40px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    background-color: white;
    overflow: hidden;
    position: fixed;
  
    width: 93.3%;
}
.navbar a {
    float: right;
    display: block;
    color: #010000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
td{
 text-align: center;
    padding: 40px;
    padding-left: 100px;
}
p{
    font-size: 19px;
}
pre,#about{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#book{
    border-radius: 40px;
    font-size: 25px;
    background-color:#db4404;
    color: white;
    padding: 5px;
margin-left: 60px;
}
.container2{
    padding: 25px;
    font-size: 19px;
    background-image: url(images/pic6.jpeg);
}
td #courses{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    background-color: white;
    height: 80px;
   
}
#courses button{
    border-radius: 40px;
    font-size: 15px;
    background-color:#db4404;
    color: white;
    padding: 5px;
}
#login{
    margin-top: -4px;
    border-radius: 20px;
    font-size: 15px;
    background-color:#6f5896;
    color: white;
    padding: 5px;
    width: 70px;
}
.footer{
    background-color:#087ca6 ;
    height: 150px;
    width: 100%;
    background-size: cover;
    text-align: center;
    padding: 70px;
    color: white;
}
.footer p{
    font-size: 15px;
}
.aboutcontent p{
    text-align: justify;
    padding: 50px;
}
.contact{
    padding: 70px;
   margin-left: 200px;
}


